<div class="container">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
    <div class="card" *ngIf="loginCard">
      <h1 class="title">Login</h1>
      <p class="subtitle">Faça login com sua conta existente!</p>
      <div>
        <input type="email" placeholder="Email" formControlName="email"/>
      </div>
      <div>
        <input type="password" placeholder="Senha" formControlName="password"/>
      </div>
      <div>
        <button type="submit" [disabled]="!this.loginForm.valid">Login</button>
      </div>
      <a href="#" class="login-card" (click)="loginCard = !loginCard">Criar conta</a>
    </div>
  </form>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
    <div class="card" *ngIf="!loginCard">
      <h1 class="title">Criar conta</h1>
      <p class="subtitle">Crie sua conta grátis!</p>
      <div>
        <input type="text" placeholder="Nome" formControlName="name"/>
      </div>
      <div>
        <input type="email" placeholder="Email" formControlName="email"/>
      </div>
      <div>
        <input type="password" placeholder="Senha" formControlName="password"/>
      </div>
      <div>
        <input type="password" placeholder="Repetir Senha" formControlName="password"/>
      </div>
      <div>
        <button type="submit" [disabled]="!this.signupForm.valid">Criar conta</button>
      </div>
      <a href="#" class="login-card" (click)="loginCard = !loginCard">Fazer login</a>
    </div>
  </form>

</div>
